<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta httpEquiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <section>
      <h1>구매하기</h1>
      <h3><%= orderName %></h3>
      <span><%= price.toLocaleString() %>원</span>
      <div id="payment-widget"></div>
      <button id="payment-button">결제하기</button>
    </section>
    <script src="https://js.tosspayments.com/v1/payment-widget"></script>
    <script>
      // TODO: 개발자센터에 로그인해서 내 결제위젯 클라이언트 키를 입력하세요
      // @docs https://docs.tosspayments.com/reference/using-api/api-keys
      const paymentWidget = PaymentWidget(
        "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm",
        PaymentWidget.ANONYMOUS
      );

      // ------  결제위젯 렌더링 ------
      // https://docs.tosspayments.com/reference/widget-sdk#renderpaymentmethods선택자-결제-금액-옵션
      paymentWidget.renderPaymentMethods("#payment-widget", {
        value: "<%= price %>",
      });

      const button = document.getElementById("payment-button");

      // ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
      // https://docs.tosspayments.com/reference/widget-sdk#requestpayment결제-정보
      button.addEventListener("click", function () {
        paymentWidget.requestPayment({
          orderId: "<%= orderId %>",
          orderName: "<%= orderName %>",
          customerName: "<%= customerName %>",
          successUrl: window.location.origin + "/success",
          failUrl: window.location.origin + "/fail",
        });
      });
    </script>
  </body>
</html>
